In [1]:
def print_square(x):
    print(x*x)

print(print_square(3))

9
None

In [2]:
import numpy as np 
arr = np.arange(5, 13, 5)
arr

array([ 5, 10])

In [3]:
import pandas as pd 
list = [[1,2,3,4], [ 5,6,7,8], [ 9,10,11,12]]
df = pd.DataFrame(list)
df.loc[1,2]

7

In [6]:
df = ['a','b','c']
df = pd.DataFrame(df)
df

   0
0  a
1  b
2  c