In [30]:
import pandas as pd #pd라고 별명을 줌
two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]
my_df = pd.DataFrame(two_dimensional_list, columns = ['name', 'eng_score', 'math_score'], index=['a','b','c','d'])
print(my_df)
#pd.DataFrame(list명, columns = [colmns 수 만큼], index = [row 수 만큼])
print(type(my_df))
print(my_df.columns)
print(my_df.index)
print(my_df.dtypes)

       name  eng_score  math_score
a  dongwook         50          86
b    sineui         89          31
c   ikjoong         68          91
d   yoonsoo         88          75
<class 'pandas.core.frame.DataFrame'>
Index(['name', 'eng_score', 'math_score'], dtype='object')
Index(['a', 'b', 'c', 'd'], dtype='object')
name          object
eng_score      int64
math_score     int64
dtype: object

       name  eng_score  math_score
a  dongwook         50          86
b    sineui         89          31
c   ikjoong         68          91
d   yoonsoo         88          75

pandas.core.frame.DataFrame

Index(['name', 'eng_score', 'math_score'], dtype='object')

Index(['a', 'b', 'c', 'd'], dtype='object')

In [25]:
my_df.dtypes
#각자 col별로 변수형이 다른 것을 볼 수 있다.

name          object
eng_score      int64
math_score     int64
dtype: object