In [1]:
import pandas as pd

samsong_df = pd.read_csv('data/samsong.csv')
hyundee_df = pd.read_csv('data/hyundee.csv')

# 여기에 코드를 작성하세요

In [35]:
sam_culture = samsong_df.loc[:,['문화생활비']]
hyun_culture = hyundee_df.loc[:,['문화생활비']]
day = samsong_df.loc[:,['요일']]
total_f = {"day" : day, "samsong" : sam_culture, "hyundee" : hyun_culture}
type(day) #->dataframe임 즉, dataframe을 슬라이싱하면 -> dataframe []를 넣으면
#-> 에러가 뜸

pandas.core.frame.DataFrame

In [32]:
type(day) #-> 데이터프레임이므로
sam_culture = samsong_df.loc[:,'문화생활비']
hyun_culture = hyundee_df.loc[:,'문화생활비']
day = samsong_df.loc[:,'요일']
total_f = {"day" : day, "samsong" : sam_culture, "hyundee" : hyun_culture}
pd.DataFrame(total_f) #잘뜸
print(type(day)) #->Series임 이는 DataFrame에 들어 갈 수 있음

<class 'pandas.core.series.Series'>

In [36]:
sam_culture = samsong_df.loc[:,'문화생활비']
hyun_culture = hyundee_df.loc[:,'문화생활비']
day = samsong_df.loc[:,'요일']
total_f = {"day" : day, "samsong" : sam_culture, "hyundee" : hyun_culture}
pd.DataFrame(total_f) #잘뜸

   day  samsong  hyundee
0  MON     4308     5339
1  TUE     7644     3524
2  WED     5674     5364
3  THU     8621     9942
4  FRI    23052    33511
5  SAT    15330    19397
6  SUN    19030    19925