In [1]:
import pandas as pd
iphone_df = pd.read_csv('data/iphone.csv', index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [5]:
#데이터프레임명.iloc[row번호, col번호]
iphone_df.iloc[2, 4]

'No'

In [8]:
iphone_df.iloc[[1,3],[1,4]] # 1,3번 row, 1,4번 col가져오기

               디스플레이 Face ID
iPhone 7 Plus    5.5      No
iPhone 8 Plus    5.5      No

In [10]:
iphone_df.iloc[3, 1:4] # 3번 row 1~3번 col 가져오기

디스플레이         5.5
메모리           3GB
출시 버전    iOS 11.0
Name: iPhone 8 Plus, dtype: object

In [11]:
iphone_df.iloc[2:4, [1,4]]

               디스플레이 Face ID
iPhone 8         4.7      No
iPhone 8 Plus    5.5      No